*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #dddddd;
    min-height: 100vh;
}
.container{
    position: relative;
    max-width: 1350px;
    margin: 50px auto;
    width: 100%;
    padding: 20px;

}
.filter_button{
    display: flex;
    flex-wrap:wrap ;
    gap:.4rem;
}
button{
    padding:.2rem 2rem;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0 ,0.5);
}
.active{
    background: blue;
    color: #fff;
}
.filter_cards{
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
.card{
    flex-grow: 1;
    /* width: 250px; */
    flex-basis: 300px;
    /* height: 400px; */
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0 ,0.5);


}
.filter_cards .hide{
    display: none;
}
.card img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    height: 300px;
}
.card_text{
    margin:15px 20px 20px;

}
.card h1{
    font-size: 20px;

}
.card p{
    font-size: 15px;
}